---
interface Item {
  question: string;
  answer: string;
}

interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

{
  items.map((item, index) => (
    <div
      class={`${index === 0 ? "active" : ""} hs-accordion rounded-xl px-6 py-4 hs-accordion-active:bg-surface sm:rounded-2xl`}
      id={`hs-basic-with-title-and-arrow-stretched-heading ${index + 1}`}
    >
      <button
        class="hs-accordion-toggle group inline-flex w-full items-center justify-between gap-x-3 rounded-lg pb-3 text-start font-bold text-black transition hover:text-button-primary focus:text-button-primary md:text-lg"
        aria-expanded={index === 0 ? "true" : "false"}
        aria-controls={`hs-basic-with-title-and-arrow-stretched-collapse ${index + 1}`}
      >
        {item.question}
        <svg
          class="block size-5 shrink-0 text-gray-600 group-hover:text-button-primary group-focus:text-button-primary hs-accordion-active:hidden"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m6 9 6 6 6-6" />
        </svg>
        <svg
          class="hidden size-5 shrink-0 text-gray-600 group-hover:text-button-primary group-focus:text-button-primary hs-accordion-active:block"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m18 15-6-6-6 6" />
        </svg>
      </button>
      <div
        id={`hs-basic-with-title-and-arrow-stretched-collapse ${index + 1}`}
        class={`${index === 0 ? "" : "hidden"} hs-accordion-content w-full overflow-hidden transition-[height] duration-300`}
        role="region"
        aria-labelledby={`hs-basic-with-title-and-arrow-stretched-heading ${index + 1}`}
      >
        <p class="text-black">{item.answer}</p>
      </div>
    </div>
  ))
}

<script>
  import "preline/dist/preline.js";
</script>
