---
import Images from "../components/Images.astro";

interface Item {
  title: string;
  description: string;
  image: string;
  alt: string;
  colSpan?: 1 | 2 | 3;
}

interface Props {
  items: Item[];
}

const { items } = Astro.props;
const getColSpan = (colSpan: 1 | 2 | 3) => {
  const colSpanClasses = {
    1: "md:col-span-1",
    2: "md:col-span-2",
    3: "md:col-span-3",
  };

  return colSpanClasses[colSpan];
};
---

{
  items.map(item => (
    <div
      class={`col-span-full rounded-xl bg-surface sm:rounded-3xl ${getColSpan(item.colSpan || 1)}`}
    >
      <div class="p-[1rem_1.5rem_1.5rem_1.5rem] sm:px-9 sm:py-[1.625rem]">
        <h3 class="mb-3 text-2xl font-medium text-black sm:text-3xl md:mb-4">
          {item.title}
        </h3>
        <p>{item.description}</p>
      </div>
      <div class="mx-4 mb-4 flex items-center justify-center overflow-hidden rounded-xl">
        <Images src={item.image} alt={item.alt} height={380} />
      </div>
    </div>
  ))
}
